* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}

thead tr th{
  font-size: 20px;
}
.btn_container{
  border: none;
  background-color: transparent;
}
.table_btn{
  font-size: 20px;
  text-decoration: none;
}
.remove_icon{
  color: red !important;
}
.buy_icon{
  color: green !important;
}