#content_bottom {
  margin-top: 50px;
}
.row {
  display: flex;
  justify-content: center;
}
.skin_container {
  position: relative;
  overflow: hidden;
}
.skin_container:hover .skin_img {
  transform: scale(1.1);
}
.skin_container .skin_img {
  width: 100%;
  height: auto;
  transition: transform 0.25s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
}
.skin_info {
  width: 100%;
  background-color: rgb(37, 36, 36);
  border-top: 1px solid #927345;
  transition: transform 0.5s ease-in-out;
}
.skin_container:hover .skin_info {
  transform: translateY(-50px);
}
.skin_name,
.skin_price {
  text-decoration: none;
  font-weight: 500;
}
.skin_name{
  color: #937341 !important;
}
.skin_price {
  color: #c4b998 !important;
}
.button_container {
  display: none;
  border-top: 1px solid #937341;
  color: #937341;
  transition: display 0.5s ease-in-out;
}
.buy_button{
  color: #937341;
  display: inline; 
  font-size: 20px ;
  font-weight: 700 ;
  grid-area: auto; 
  letter-spacing: 3.3px; 
  line-height: 54px; 
  text-align: center; 
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
.skin_container:hover .button_container {
  display: block;
}
