*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}
/*Navigation*/
#logo_home{
  width: 95px;
  height: 25px;
}
#header_home{
  background-color: #000000;
  position: fixed;
  top: 0;
  z-index: 1;
}
#header_center .nav_item{
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF !important;
  border-radius: 5px;
  transition: 0.25s;
}
#header_center .nav_item:hover{
  background-color: rgb(72, 72, 72);
}
.icon_navigation{
  font-size: 23px;
  color: #FFFFFF !important;
  transition: 0.25s;
}
.icon_navigation:hover{
  color: rgb(72, 72, 72) !important;
  cursor: pointer;
}
#person-icon {
  position: relative;
}
#person-icon:hover #sub-menu {
  display: block;
  /* Show on hover */
}
#sub-menu {
  display: none;
  font-size: 20px;
  position: absolute;
  top: 100%;
  width: 250px;
  right: -50px;
  background-color: #000000;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#sub-menu a {
  text-decoration: none;
  color: #FFFFFF !important;
  transition: 0.25s;
}
#sub-menu a:hover{
  opacity: 0.5;
}
/*Content home*/
#content{
  z-index: 0;
  margin-bottom: 100px;
}
#content_top{
  background-color: #F8F8F8;
  padding-top: 150px;
  box-sizing: border-box;
  overflow-x: hidden;
}
#content_top_up{
  font-weight: 600;
  font-size: 24px;
  font-style: italic;
}
#content_top_center{
  font-weight: 800;
  font-size: 108.361px;
  letter-spacing: 3.25082px;
  line-height: 92.1067px;
}
#content_top_down{
  font-size: 14px;
  letter-spacing: 1.12px;
  line-height: 22.4px;
}
#content_center input[type="text"]{
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  font-size: 16px;
  padding: 5px 0;
  background: transparent;
  width: 100%;
}
#content_center button{
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 0;
  width: 100px;
  background-color: #f3b63c;
  height: 40px;
  border-radius: 5px;
  transition: 0.25s;
}
#content_center button:hover{
  background-color: #C2902D;
}
/*Footer*/
#footer_top{
  background-color: #292929;
  font-size: 15px;
  font-weight: 700;
}
#footer_top .footer_top_item{
  color: #7e7e7e !important;
  text-decoration: none;
  transition: 0.25s;
}
#footer_top .footer_top_item:hover{
  color: #FFFFFF !important;
  background-color: rgb(72, 72, 72);
  border-radius: 5px;
}
#footer_bottom{
  background-color: #000000;
  transition: 0.25s;
} 
#social_container .social_item{
  background-color: #292929;
  font-size: 16px;
  color: #FFFFFF !important;
  text-decoration: none;
  border-radius: 12px;
}
#logo_footer {
  width: 95px;
  height: 25px;
}
#logo_footer_bottom{
  width: 70px;
  height: 70px;
}